<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/de-anza-college.png">
    </a>
    <h1><%= title %></h1>
    <p><%= subtitle %></p>
  </div>
</div>
</body>
</html>
