<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
      <form class="form-inline">
          <div class="form-group">
              <label class="sr-only" for="department">Department Code</label>
              <input type="text" class="form-control" id="department" placeholder="Department Code">
          </div>
          <div class="form-group">
              <label class="sr-only" for="crn">CRN</label>
              <input type="text" class="form-control" id="crn" placeholder="CRN">
          </div>
          <button type="submit" class="btn btn-default">Add to the list!</button>
          </form>
  </div>
</div>
</body>
</html>
